{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Biblioteca</title>
</head>

<body>
    <header>
        <h1>Biblioteca</h1>
        <section class="options">
            <button type="button" class="btn btn-dark" data-target="#nuevo_material_modal" data-toggle="modal">Nuevo
                producto</button>
            <button type="button" class="btn btn-dark" data-target="#persona_modal" data-toggle="modal">Opciones
                usuario</button>
            
        </section>


    </header>
    <section class="container-fluid body">
        <div class="row">
            <form action="material_by_id" method="post" class="form-group">
                {% csrf_token %}

                <input type="text" class="form-control-lg id_product_input" name="id" placeholder="Id producto">
                <input type="submit" value="Buscar" class="btn btn-primary search_btn">
            </form>

            <form id="ver_historial_btn" action="historial" method="post">
                {% csrf_token %}
                <input type="submit" value="ver historial" class="btn btn-dark">
            </form>
        </div>

        <div class="row">
            {% for material in materiales %}
            <div class="card material">
                <div class="card-body">
                    <h2 class="card-title">{{material.titulo}} - {{material.id}}</h2>
                    <caption class="card-subtitle"># de existencias: {{material.cant_actual}}</caption>
                </div>
                <button class="btn btn-info btn-prestar" data-target="#gestionar_modal" data-toggle="modal"
                    onclick="pasarID('{{material.id}}')">Gestionar</button>

            </div>
            {% endfor %}

        </div>
    </section>

    <div class="modal" tabindex="-1" role="dialog" id="nuevo_material_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar material</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="add" class="form-group" method="post">
                        {% csrf_token %}
                        <label for="id">Id de producto:</label>
                        <input class="form-control" type="text" placeholder="id" name="id" required>
                        <label for="id">Titulo: </label>
                        <input class="form-control" type="text" placeholder="titulo" name="titulo" required>
                        <label for="id">Cantidad:</label>
                        <input class="form-control" type="number" placeholder="Cantidad" name="cant" required>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="form-control" value="registrar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="persona_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h2>Agregar usuario</h2>
                <div class="modal-body">
                    <form action="addUser" class="form-group" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
                        <input type="text" class="form-control" placeholder="Cedula" name="cc" required>
                        <select name="rol" class="form-control" required>
                            <option value="1">Estudiante</option>
                            <option value="2">Profesor</option>
                            <option value="3">Administrativo</option>
                        </select>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="form-control" value="Agregar">
                    </form>
                </div>


                <h2>Eliminar usuario</h2>

                <div class="modal-body">

                    <form action="deleteUser" class="form-group" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Cedula" name="cc" required>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="form-control" value="Eliminar">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gestionar_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Gestion del recurso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a href="#prestar_tab" class="btn" aria-controls="prestar_tab" role="tab"
                                    data-toggle="tab">Prestar</a>

                            </li>
                            <li role="presentation">
                                <a href="#devolver_tab" class="btn" aria-controls="devolver_tab" role="tab"
                                    data-toggle="tab">Devolver</a>
                            </li>
                            <li role="presentation">
                                <a href="#anadir_tab" class="btn" aria-controls="anadir_tab" role="tab"
                                    data-toggle="tab">Añadir</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="prestar_tab">

                                <h2>registrar prestamos</h2>
                                <form action="addPrestamo" method="post" class="form-group">
                                    {% csrf_token %}
                                    <label for="id_material">Id del material:</label>
                                    <input type="text" class="form-control" id="id_material" placeholder="Id material"
                                        name="id_material" readonly required>
                                    <label for="cc">CC del usuario:</label>
                                    <input type="text" id="cc" class="form-control" placeholder="Cedula" name="cc"
                                        required>

                                    <label for="n_ejemplares">Cantidad ejemplares:</label>
                                    <input type="number" id="n_ejemplares" class="form-control"
                                        placeholder="numero de ejemplares" name="cant">
                                    <br>
                                    <input type="submit" value="registrar" class="form-control">
                                </form>


                            </div>
                            <div role="tabpanel" class="tab-pane" id="devolver_tab">

                                <h2>registrar devolucion</h2>
                                <form action="addDevol" method="post" class="form-group">
                                    {% csrf_token %}
                                    <label for="id_material">Id del material:</label>
                                    <input type="text" class="form-control" id="id_material" placeholder="Id material"
                                        name="id_material" required readonly>
                                    <label for="cc">CC del usuario:</label>
                                    <input type="text" id="cc" class="form-control" placeholder="Cedula" name="cc"
                                        required>

                                    <label for="n_ejemplares">Cantidad ejemplares:</label>
                                    <input type="number" id="n_ejemplares" class="form-control"
                                        placeholder="numero de ejemplares" name="cant">
                                    <br>
                                    <input type="submit" value="Devolver" class="form-control">
                                </form>


                            </div>
                            <div role="tabpanel" class="tab-pane" id="anadir_tab">

                                <h2>añadir material</h2>
                                <form action="addMaterial" method="post" class="form-group">
                                    {% csrf_token %}
                                    <label for="id_material">Id del material:</label>
                                    <input type="text" id="id_material" class="form-control" placeholder="Id material"
                                        name="id_material" required readonly>
                                    <label for="id_material">Cantidad para añadir:</label>
                                    <input type="number" class="form-control" placeholder="cantidad" name="cant">
                                    <br>
                                    <input type="submit" value="Añadir" class="form-control">
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    

    <section id='{{notificacion.parametros.id}}'>
        {{notificacion.mensaje}}
    </section>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


<script>
    function pasarID(id) {

        document.querySelectorAll('#id_material').forEach(elemt => {

            elemt.value = id
        })
    }

</script>

</html>